* {
    box-sizing: border-box;
  }

:root{
	--rhythm: 1.5rem;
}

.flex-container {
    display: flex;
}

.body-container {
    background-color: grey;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 20px;
    width: 20%;
}

.gif-container {
    background-color: grey;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.title-container {
    background-color: #4285F4;
    color: white;
    padding: 20px;
    text-align: center;
}
