a {
    color: #f4cb00;
}

body {
    background-color: #ebf4fc;
    font-family: Helvetica;
}

main {
    display: flex;
}

.body-container {
    background-color: #0F9D58;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 20px;
    width: 25%;
}

.gif-container {
    background-color: #DB4437;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.title-container {
    background-color: #4285F4;
    color: white;
    padding: 20px;
    text-align: center;
}